{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Login {% endblock %}

{% block strona %}

    <div class="card" style="width: 32rem; float: left; margin-right: 1rem;">
        <div class="card-body">
            {% if nowy %}
                <h5 class="card-title">Nowy Film</h5>
            {% else %}
                 <h5 class="card-title">Edytuj Film</h5>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                {{ form_dodatkowe|bootstrap }}

                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Zapisz </button>
                <a href="{% url 'wszystkie_filmy' %}" class="btn btn-info"> <i class="fas fa-backward"></i> Cofnij </a>
            </form>
        </div>
    </div>

    <div class="card" style="width: 32rem; float: left; margin-right: 1rem;">
        <div class="card-body">

                <h5 class="card-title">Napisz recenzje</h5>
            <form method="post">
                {% csrf_token %}
                {{ form_bilet|bootstrap }}

                <button type="submit" class="btn btn-info"> Dodaj bilety </button>

            </form>


        </div>
    </div>




{% endblock %}