{% extends 'glowny.html' %}

{% block tytul %} Dostepne seanse {% endblock %}

{% block strona %}
    {% if user.is_authenticated %}
        Witaj {{ user.username.capitalize }}<br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>

    <a href="{% url 'nowy_film' %}">Dodaj nowy film</a>
    <h2>Ilość seansów w bazie danych: {{ filmy|length }}</h2>
    {% for film in filmy %}
        <p>{{ film }}</p>
        <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
        <a href="{% url 'usun_film' film.id %}">Usun</a>
    {% endfor %}
    <a href="{% url 'wszystkie_filmy' %}">Cofnij</a>
{% endblock %}