{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Kup Bilet {{ film.tytul }}{% endblock %}

{% block strona %}


    <div class="card" style="width: 36rem; float: left; margin-right: 1rem;">
        <div class="card-body">

                <h5 class="card-title">Dostepne Bilety</h5>
            
            {% for bilet in bilety %}
                <hr>

            <h4 style="height: 40px;">Seans:  {{ bilet.data|date:"d/n/Y G:i" }}
            <a href="{% url 'potwierdz_zakup' bilet.id %}" class="btn btn-success" style="float: right;" ><i class="fas fa-shopping-basket"></i> Kup Bilet</a>
            </h4>
            {% endfor %}

            <a href="{% url 'wszystkie_filmy' %}" class="btn btn-info"> Anuluj</a>   
        </div>
    </div>

    <div class="card" style="width: 36rem; float: left; margin-right: 1rem;">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3 class="card-title">{{ film }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="/media/{{film.plakat}}" class="film-plakat">
                    </div>
                    <div class="col-8">
                        <p class="card-text">{{film.opis}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}