{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Moje Bilety {% endblock %}

{% block strona %}



{% for profil in profile %}
      <div class="card mb-3" style="max-width: 580px;">
          <div class="col-ms">
              <h5 class="card-title"><center>Bilet na: {{profil.bilet.film}}</center></h5>
          </div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/media/{{profil.bilet.film.plakat}}" class="film-plakat">
    </div>
    <div class="col-md-8">

      <div class="card-body">

        <p class="card-text">{{profil.bilet.film.opis}}</p>
          <p class="card-text"><small class="text-muted">Seans: {{ profil.bilet.data|date:"d/n/Y G:i" }}</small></p>
        <a href="" class="btn btn-info" > Zmień seans </a>

      </div>
    </div>

  </div>
</div>

{% endfor %}
{% endblock %}