{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Moje Bilety {% endblock %}

{% block strona %}



{% for film in bilet %}
    <center>
    <div class="card" style="min-width: 36rem; max-width: 46rem;">
        <div class="card-body">
            <div class="container">
<!--                <img src="/media/{{film.plakat}}" class="film_plakat">-->
                <div class="row">
                    <div class="col-9" style="text-align: left;">
                        <h5 class="card-title">{{ film.bilet.film }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="text-align: left;">
                        <img src="/media/{{film.bilet.film.plakat}}" class="film-plakat">
                    </div>
                    <div class="col-8">
                        <p class="card-text">{{film.bilet.film.opis}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </center>
{% endfor %}
{% endblock %}