{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Usun {% endblock %}

{% block strona %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
                <h1 class="display-4">Czy na pewno chcesz usunac "{{film.tytul}}"?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Usun film</button>
                </form>
                <a href="{% url 'wszystkie_filmy' %}" class="btn btn-info"> Anuluj</a>

        </div>
    </div>


{% endblock %}